<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>equipement</title>
</head>
<body>
  
<div class="container-add">
<form class="form-add" id="addEquipementform"  autocomplete="off">
  <label>Nom :</label>
  <input type="text" name="libelle" required>
  <button type="submit">Ajouter Equipement</button>
</form>

</div>
<script src="/js/formSubmit.js"></script>
</body>
</html>