<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/css/style.css">
    <title>equipement</title>
</head>
<body>
  <div class="content_main">
  <div class="menu">
    <button type="button" onclick="openModal('/pageAddEquipement', '', 'Ajouter une Equipement')">Ajouter Equipement</button>
    <button type="button" onclick="openModalFt('/pageAddFicheTech' ,'','Ajouter une Fiche technique ')">Ajouter Fiche_Technique</button>
  </div>
  <!-- Popup -->
 <div id="modal" class="modal">
  <div class="modal-content">
    <div class="nav-popup">  
    <h4> Ajouter un equipement</h4>
    <span class="close" onclick="closeModal()">&times;</span>
    </div>
    <div id="modal-body">
      <!-- contenu du formulaire chargé ici -->
    </div>
  </div>
 </div>
   <div class="Table_container mt-4">
    <table id="TableEquipement" class="table table-bordered table-striped mt-3" style="width:100%">
        <thead class="table-dark">
            <tr>
                <th>Nom </th>
                <th>Détail</th>  
                <th>Action</th>    
            </tr>
        </thead>
        <tbody>
            <!-- Rempli via JavaScript -->
        </tbody>
    </table>
</div>  
</div>
      <script src="/js/pageEquipement.js"></script> 
</body>
</html>