<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{sideBarMenu}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Filiale</title>
  </head>
  <body>
    <section layout:fragment="content">
      <div class="content_main">
        <div class="menu">
          <button type="button" onclick="openModal('/pageAddFiliale')">
            Ajouter Filiale
          </button>
        </div>
        <!-- Popup -->
        <div id="modal" class="modal">
          <div class="modal-content">
            <div class="nav-popup">
              <h4>Ajouter une filiale</h4>
              <span class="close" onclick="closeModal()">&times;</span>
            </div>
            <div id="modal-body"></div>
          </div>
        </div>
        <div class="Table_container mt-4">
          <table
            id="TableFiliale"
            class="table table-bordered table-striped mt-3">
            <thead class="table-dark">
              <tr>
                <th>Nom Filiale</th>
                <th>Adresse Ip</th>
                <th>Nom Bdd</th>
                <th>User Bdd</th>
                <th>password bdd</th>
                <th>Date de création</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <!-- Rempli via JavaScript -->
            </tbody>
          </table>
        </div>
      </div>

      <script th:src="@{/js/toggleMenu.js}"></script>
      <script th:src="@{/js/afficheFiliale.js}"></script>
    </section>
  </body>
</html>
