<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{sideBarMenu}"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">  
    <title>recherche </title>
</head>
<body>
  
<section layout:fragment="content">
<div class="rechercheContainer">
<div class="selectGroupe">
  <div>
    <label for="">Equipement</label>
     <select name="equipement" id="equipement-select"  required>
    <option value="">⏳ Chargement des équipements...</option>
    </select>
    </div>
  <div>  
   <label for="filiale-select">Filiale</label>
   <select name="filiale" id="filiale-select" required>
   <option value="">⏳ Chargement des filiales...</option>
   </select>
  </div>
    <button  class="btn btn-success btn-sm" type="button" onclick="initTableSearchEquipement()">rechercher</button>
</div> 
  <div class="detailRecherchefield">
     <div id="ficheTechContainer">
     </div>
    <div id="filialeDetailsContainer">
    </div>
  </div>
</div>
 <div id="table-container"></div>

    </div>
    <style>.dataTables_filter {display: none !important;}</style>
    <script src="/js/toggleMenu.js"></script>
    <script src="/js/afficheRecherche.js"></script>
   
</section>
</body>
</html>